## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('WSN.csv')
df.head()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
0,101000,50,1,101000,0.00000,1,0,0,25,1,0,0,0,1200,48,130.08535,0,2.46940,Normal
1,101001,50,0,101044,75.32345,0,4,1,0,0,1,2,38,0,0,0.00000,4,0.06957,Normal
2,101002,50,0,101010,46.95453,0,4,1,0,0,1,19,41,0,0,0.00000,3,0.06898,Normal
3,101003,50,0,101044,64.85231,0,4,1,0,0,1,16,38,0,0,0.00000,4,0.06673,Normal
4,101004,50,0,101010,4.83341,0,4,1,0,0,1,25,41,0,0,0.00000,3,0.06534,Normal

In [3]:
df.shape

(374661, 19)

In [4]:
df.size

7118559

In [5]:
df.columns

Index([' id', ' Time', ' Is_CH', ' who_CH', ' Dist_To_CH', ' ADV_S', ' ADV_R',
       ' JOIN_S', ' JOIN_R', ' SCH_S', ' SCH_R', 'Rank', ' DATA_S', ' DATA_R',
       ' Data_Sent_To_BS', ' dist_CH_To_BS', ' send_code ', 'Expaned_Energy',
       'Attack_type'],
      dtype='object')

In [7]:
df.describe()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy
count,3.746610e+05,374661.000000,374661.000000,3.746610e+05,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000,374661.000000
mean,2.749693e+05,1064.748712,0.115766,2.749804e+05,22.599380,0.267698,6.940562,0.779905,0.737493,0.288984,0.747452,9.687104,44.857925,73.890045,4.569448,22.562735,2.497957,0.305661
std,3.898986e+05,899.646164,0.319945,3.899112e+05,21.955794,2.061148,7.044319,0.414311,4.691498,2.754746,0.434475,14.681901,42.574464,230.246335,19.679155,50.261604,2.407337,0.669462
min,1.010000e+05,50.000000,0.000000,1.010000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.070930e+05,353.000000,0.000000,1.070960e+05,4.735440,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,13.000000,0.000000,0.000000,0.000000,1.000000,0.056150
50%,1.160710e+05,803.000000,0.000000,1.160720e+05,18.372610,0.000000,5.000000,1.000000,0.000000,0.000000,1.000000,3.000000,35.000000,0.000000,0.000000,0.000000,2.000000,0.097970
75%,2.150720e+05,1503.000000,0.000000,2.150730e+05,33.776000,0.000000,7.000000,1.000000,0.000000,0.000000,1.000000,13.000000,62.000000,0.000000,0.000000,0.000000,4.000000,0.217760
max,3.402096e+06,3600.000000,1.000000,3.402100e+06,214.274620,97.000000,117.000000,1.000000,124.000000,99.000000,1.000000,99.000000,241.000000,1496.000000,241.000000,201.934940,15.000000,45.093940

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374661 entries, 0 to 374660
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0    id               374661 non-null  int64
 1    Time             374661 non-null  int64
 2    Is_CH            374661 non-null  int64
 3    who_CH           374661 non-null  int64
 4    Dist_To_CH       374661 non-null  float64
 5    ADV_S            374661 non-null  int64
 6    ADV_R            374661 non-null  int64
 7    JOIN_S           374661 non-null  int64
 8    JOIN_R           374661 non-null  int64
 9    SCH_S            374661 non-null  int64
 10   SCH_R            374661 non-null  int64
 11  Rank              374661 non-null  int64
 12   DATA_S           374661 non-null  int64
 13   DATA_R           374661 non-null  int64
 14   Data_Sent_To_BS  374661 non-null  int64
 15   dist_CH_To_BS    374661 non-null  float64
 16   send_code        374661 non-null  int64
 17  Expaned_Energy    374661 non-null  float64
 18  Attack_type       374661 non-null  object
dtypes: float64(3), int64(15), object(1)
memory usage: 54.3+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Attack_type']
  
for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [10]:
df.tail()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
374656,201096,1003,0,201051,6.98337,0,5,1,0,0,1,7,96,0,67,170.14779,3,0.15974,3
374657,201097,1003,0,201037,29.32867,0,5,1,0,0,1,31,39,0,24,82.21043,2,0.06877,3
374658,201098,1003,0,201095,18.51963,0,5,1,0,0,1,17,55,0,31,139.26438,1,0.09437,3
374659,201099,1003,0,201051,8.55001,0,5,1,0,0,1,3,96,0,65,158.27492,3,0.16047,3
374660,202041,1025,0,202100,0.00000,0,5,0,0,0,0,4,7,689,7,115.00407,0,1.01325,3

In [11]:
df.isnull()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374656,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
374657,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
374658,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
374659,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
374660,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df = df.dropna()

In [6]:
df["Attack_type"].unique()

array(['Normal', 'Flooding', 'TDMA', 'Grayhole', 'Blackhole'],
      dtype=object)

In [13]:
df['Attack_type'].unique()

array([3, 1, 4, 2, 0])

In [14]:
df.corr()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
id,1.000000,0.674170,0.179659,1.000000,-0.329638,0.042635,-0.039515,-0.561031,-0.046773,-0.023138,-0.510604,-0.239057,-0.183151,0.057861,0.088892,0.485083,-0.291817,0.001999,-0.177997
Time,0.674170,1.000000,0.282040,0.674184,-0.352468,0.012819,0.061591,-0.502793,-0.039882,0.000210,-0.439315,-0.316458,-0.042900,0.081480,0.061050,0.352591,-0.242577,0.028775,-0.250959
Is_CH,0.179659,0.282040,1.000000,0.179665,-0.372439,0.358947,0.399472,-0.681119,0.434253,0.289925,-0.601437,-0.238737,-0.381239,0.288215,0.365186,0.310198,-0.375453,0.236316,-0.590267
who_CH,1.000000,0.674184,0.179665,1.000000,-0.329650,0.042634,-0.039512,-0.561048,-0.046774,-0.023138,-0.510622,-0.239066,-0.183153,0.057876,0.088896,0.485098,-0.291824,0.002007,-0.178002
Dist_To_CH,-0.329638,-0.352468,-0.372439,-0.329650,1.000000,-0.133686,-0.009616,0.546805,-0.161619,-0.107979,0.458355,0.382459,-0.006305,-0.315255,-0.217098,-0.420626,0.198440,-0.182533,0.220053
ADV_S,0.042635,0.012819,0.358947,0.042634,-0.133686,1.000000,0.239682,-0.244485,0.086911,0.040939,-0.188804,-0.085694,-0.136844,0.058440,0.149805,0.200963,-0.134768,0.119152,-0.320874
ADV_R,-0.039515,0.061591,0.399472,-0.039512,-0.009616,0.239682,1.000000,-0.099586,-0.059558,-0.038879,-0.223524,-0.020825,-0.064312,-0.126620,-0.030728,-0.077467,0.143532,0.074849,-0.406073
JOIN_S,-0.561031,-0.502793,-0.681119,-0.561048,0.546805,-0.244485,-0.099586,1.000000,-0.295760,-0.197473,0.897659,0.313790,0.486601,-0.585557,-0.381757,-0.761552,0.551230,-0.324784,0.402394
JOIN_R,-0.046773,-0.039882,0.434253,-0.046774,-0.161619,0.086911,-0.059558,-0.295760,1.000000,0.611823,-0.270283,-0.103712,-0.165314,0.450515,0.165065,0.131150,-0.162926,0.213972,-0.089452
SCH_S,-0.023138,0.000210,0.289925,-0.023138,-0.107979,0.040939,-0.038879,-0.197473,0.611823,1.000000,-0.180473,-0.069216,-0.110531,0.029406,0.053736,0.005122,-0.108853,0.032082,0.159919
SCH_R,-0.510604,-0.439315,-0.601437,-0.510622,0.458355,-0.188804,-0.223524,0.897659,-0.270283,-0.180473,1.000000,0.248141,0.542721,-0.531427,-0.343389,-0.679910,0.442019,-0.328439,0.346481
Rank,-0.239057,-0.316458,-0.238737,-0.239066,0.382459,-0.085694,-0.020825,0.313790,-0.103712,-0.069216,0.248141,1.000000,-0.171369,-0.138407,-0.132511,-0.226805,0.056627,-0.095326,0.141849
DATA_S,-0.183151,-0.042900,-0.381239,-0.183153,-0.006305,-0.136844,-0.064312,0.486601,-0.165314,-0.110531,0.542721,-0.171369,1.000000,-0.286934,-0.168781,-0.336718,0.431293,-0.110347,0.224924
DATA_R,0.057861,0.081480,0.288215,0.057876,-0.315255,0.058440,-0.126620,-0.585557,0.450515,0.029406,-0.531427,-0.138407,-0.286934,1.000000,0.386867,0.554721,-0.328046,0.494331,-0.185857
Data_Sent_To_BS,0.088892,0.061050,0.365186,0.088896,-0.217098,0.149805,-0.030728,-0.381757,0.165065,0.053736,-0.343389,-0.132511,-0.168781,0.386867,1.000000,0.482976,-0.208141,0.448729,-0.005218
dist_CH_To_BS,0.485083,0.352591,0.310198,0.485098,-0.420626,0.200963,-0.077467,-0.761552,0.131150,0.005122,-0.679910,-0.226805,-0.336718,0.554721,0.482976,1.000000,-0.420812,0.378398,-0.073782
send_code,-0.291817,-0.242577,-0.375453,-0.291824,0.198440,-0.134768,0.143532,0.551230,-0.162926,-0.108853,0.442019,0.056627,0.431293,-0.328046,-0.208141,-0.420812,1.000000,-0.145086,0.221514
Expaned_Energy,0.001999,0.028775,0.236316,0.002007,-0.182533,0.119152,0.074849,-0.324784,0.213972,0.032082,-0.328439,-0.095326,-0.110347,0.494331,0.448729,0.378398,-0.145086,1.000000,-0.027719
Attack_type,-0.177997,-0.250959,-0.590267,-0.178002,0.220053,-0.320874,-0.406073,0.402394,-0.089452,0.159919,0.346481,0.141849,0.224924,-0.185857,-0.005218,-0.073782,0.221514,-0.027719,1.000000

In [15]:
pd.crosstab(df["Rank"], df["Attack_type"])

Attack_type      0     1      2      3     4
Rank
0            10049  3312  14596  40708  6217
1                0     0      0  96120    28
2                0     0      0  13025    14
3                0     0      0  13700    22
4                0     0      0  10696    23
...            ...   ...    ...    ...   ...
95               0     0      0     65     0
96               0     0      0     52     0
97               0     0      0     63     0
98               0     0      0     51     0
99               0     0      0     40     0

[100 rows x 5 columns]

In [16]:
df.groupby([" send_code ","Expaned_Energy"]).groups

{(0, 0.0): [54283, 54284, 244904, 257534, 257536, 257538, 257539, 257540], (0, 0.00222): [307948, 307959, 307982, 307993, 308004, 308034], (0, 0.00224): [175860, 225016, 225038, 225046, 225060, 225088, 225092, 225104, 225110, 339626, 339629], (0, 0.00225): [61427, 61429, 61460, 61472, 61481, 61486, 61502, 61510, 61515, 170792, 170812], (0, 0.00226): [83032, 83070, 83099, 83106, 83111, 230642, 230685, 230704, 230708, 312908, 312912, 312939, 312948, 312965, 313000], (0, 0.00227): [37369, 77219, 77223, 77231, 77252, 77263, 77281, 77310, 187017, 187056, 187085, 210324, 210363, 210373, 210376, 222902, 222930, 222941, 222942, 222958, 222966, 222975, 240781, 263606, 263625, 263650, 263659, 263661, 263703, 278678, 278702, 278713, 278714, 336032, 336090, 336097, 336111, 336115, 336130], (0, 0.00228): [46413, 46435, 46445, 48710, 56583, 56615, 56656, 66397, 66408, 66415, 66419, 66440, 66446, 66453, 66456, 66468, 102835, 114654, 189482, 189503, 189508, 189522, 189552, 235651, 235663, 235672, 235689, 235729, 235732, 240750, 340712, 350310, 350312, 350314, 350333, 361994, 362023, 362063, 362064], (0, 0.00229): [33111, 43040, 43062, 43107, 45174, 45215, 45217, 50807, 50848, 50850, 51995, 193830, 193834, 203290, 203303, 203307, 203342, 251186, 251232, 282253, 282255, 282256, 282264, 282283, 282288, 282327, 287000, 287010, 287064, 287074, 287090, 353484, 353526, 359897, 359954], (0, 0.0023): [38734, 107518, 177233, 177260, 195725, 195735, 195771, 212501, 212526, 212538, 242681, 242722, 246831, 259401, 275678, 275702], (0, 0.00231): [54299, 54314, 54352, 356955, 356973, 357002, 357035], (0, 0.00232): [178374, 180087, 208282, 208298, 217651, 217662, 217685, 244921, 244932, 245000, 317405, 342807, 342865], (0, 0.00233): [199056, 302739, 302794], (0, 0.00234): [71549], (0, 0.00293): [271561], (0, 0.00399): [126410], (0, 0.0042): [138621, 138654], (0, 0.00421): [162175], (0, 0.00424): [203058, 203214, 208163, 217278, 222866, 235434, 267412, 267447, 344933, 345593, 345743], (0, 0.00425): [203066, 203091, 208166, 235436], (0, 0.00426): [217228, 217302, 222678, 222782, 235388, 267176, 338693, 338825], (0, 0.00427): [203083, 208177, 217320, 222688, 235391, 235488, 235525, 235551, 338846, 338859], (0, 0.00428): [179506, 179508, 179613, 179627, 179635, 179716, 179879, 179929, 235410, 325697, 325727], (0, 0.00429): [179486, 179487, 179489, 179491, 179497, 179503, 179504, 179505, 179510, 179511, 179512, 179525, 179530, 179539, 179541, 179542, 179543, 179544, 179547, 179548, 179549, 179553, 179556, 179562, 179565, 179570, 179571, 179573, 179577, 179585, 179588, 179590, 179598, 179604, 179609, 179616, 179631, 179632, 179639, 179644, 179646, 179648, 179650, 179660, 179664, 179667, 179669, 179671, 179673, 179680, 179686, 179687, 179688, 179691, 179693, 179695, 179702, 179705, 179707, 179709, 179710, 179713, 179714, 179718, 179721, 179722, 179724, 179727, 179728, 179732, 179733, 179736, 179739, 179740, 179747, 179752, 179757, 179761, 179765, 179772, 179775, 179778, 179780, 179789, 179792, 179794, 179797, 179798, 179801, 179803, 179810, 179815, 179816, 179818, 179824, 179831, 179832, 179839, 179840, 179843, ...], (0, 0.0043): [179484, 179485, 179488, 179490, 179494, 179495, 179496, 179498, 179499, 179500, 179501, 179502, 179507, 179524, 179526, 179527, 179528, 179529, 179533, 179534, 179536, 179537, 179540, 179545, 179546, 179550, 179551, 179554, 179555, 179557, 179558, 179560, 179564, 179566, 179567, 179568, 179569, 179572, 179574, 179575, 179576, 179578, 179579, 179581, 179582, 179584, 179586, 179589, 179591, 179592, 179593, 179594, 179596, 179597, 179599, 179600, 179601, 179602, 179603, 179605, 179606, 179607, 179610, 179611, 179612, 179614, 179615, 179617, 179618, 179619, 179620, 179621, 179622, 179624, 179625, 179626, 179628, 179629, 179630, 179633, 179638, 179640, 179641, 179642, 179643, 179645, 179647, 179651, 179652, 179653, 179654, 179656, 179657, 179658, 179659, 179661, 179662, 179663, 179665, 179666, ...], (0, 0.00431): [179465, 179482, 179492, 179493, 179522, 179531, 179532, 179535, 179538, 179552, 179559, 179561, 179563, 179580, 179583, 179587, 179595, 179608, 179623, 179634, 179636, 179637, 179649, 179655, 179670, 179677, 179681, 179690, 179703, 179708, 179717, 179726, 179737, 179742, 179750, 179762, 179777, 179785, 179808, 179811, 179812, 179820, 179828, 179834, 179849, 179853, 179869, 179870, 179872, 179881, 179889, 179890, 179897, 179898, 179914, 179915, 179925, 179931, 179932, 179939, 179940, 179952, 179957, 179964, 179976, 179980, 179981, 179995, 180012, 222518, 222552, 235411, 325681, 325703, 325724, 326156], (0, 0.00432): [179470, 179472, 179477, 179480, 179515, 179517, 179520, 222529], (0, 0.00433): [179467, 179475, 179476, 197484, 222619, 222629, 222682, 235404], (0, 0.00434): [235623], (0, 0.00435): [222544], (0, 0.00436): [217270], (0, 0.00437): [222599], (0, 0.00439): [179509, 222532, 222687, 325678, 325698, 325728, 326157], (0, 0.0044): [222541, 222656], (0, 0.00441): [179468, 222506, 222680], (0, 0.00443): [198028, 198288, 198511, 222546, 345871, 345872, 345880, 345887], (0, 0.00444): [197807, 197887, 198037, 198121, 198259, 198282, 198283, 198284, 198286, 198292, 198293, 198295, 198297, 198298, 198299, 198305, 198308, 198311, 198315, 198501, 198502, 198510, 198514, 198519, 198521, 198523, 198524, 198888, 198889, 198890, 198899, 198904, 198907, 198914, 198946, 208200, 222536, 339146, 339151, 344762, 344771, 344778, 344783, 345186, 345715, 345868, 345870, 345874, 345875, 345878, 345881, 345882, 345883, 345884, 345888, 345890, 345892, 345895], (0, 0.00445): [197786, 197804, 197810, 197812, 197818, 197819, 197827, 197828, 197829, 197831, 197835, 197873, 197876, 197884, 197891, 197895, 197919, 197988, 198000, 198017, 198021, 198022, 198027, 198033, 198035, 198038, 198040, 198041, 198113, 198114, 198115, 198122, 198128, 198132, 198243, 198260, 198261, 198270, 198272, 198276, 198277, 198280, 198287, 198291, 198294, 198296, 198301, 198302, 198303, 198304, 198309, 198310, 198314, 198414, 198445, 198458, 198468, 198469, 198470, 198473, 198474, 198476, 198477, 198482, 198483, 198490, 198492, 198495, 198496, 198497, 198498, 198499, 198500, 198503, 198504, 198507, 198508, 198509, 198515, 198516, 198520, 198522, 198600, 198607, 198611, 198647, 198649, 198651, 198653, 198660, 198666, 198667, 198669, 198703, 198714, 198866, 198886, 198891, 198892, 198893, ...], (0, 0.00446): [197778, 197779, 197783, 197784, 197794, 197796, 197798, 197800, 197802, 197803, 197806, 197809, 197811, 197813, 197814, 197815, 197817, 197820, 197821, 197823, 197824, 197825, 197830, 197833, 197845, 197850, 197853, 197866, 197867, 197868, 197869, 197870, 197871, 197872, 197874, 197877, 197878, 197879, 197882, 197885, 197890, 197892, 197893, 197894, 197909, 197912, 197916, 197973, 197977, 197984, 197989, 197990, 197993, 197994, 197996, 197999, 198004, 198012, 198013, 198015, 198016, 198018, 198019, 198024, 198025, 198029, 198031, 198032, 198034, 198036, 198039, 198042, 198043, 198044, 198045, 198097, 198099, 198106, 198107, 198108, 198109, 198110, 198117, 198118, 198119, 198120, 198123, 198124, 198125, 198126, 198129, 198130, 198131, 198134, 198135, 198146, 198166, 198173, 198175, 198180, ...], (0, 0.00447): [197776, 197780, 197781, 197782, 197787, 197788, 197790, 197791, 197792, 197793, 197795, 197797, 197799, 197801, 197805, 197808, 197816, 197822, 197826, 197832, 197834, 197836, 197838, 197839, 197841, 197844, 197851, 197852, 197855, 197856, 197858, 197859, 197862, 197863, 197864, 197875, 197881, 197886, 197888, 197896, 197898, 197900, 197901, 197903, 197905, 197906, 197907, 197908, 197910, 197913, 197920, 197921, 197922, 197956, 197961, 197962, 197963, 197965, 197966, 197967, 197968, 197971, 197972, 197975, 197979, 197980, 197981, 197986, 197987, 197992, 197995, 197997, 198001, 198002, 198005, 198006, 198008, 198010, 198011, 198014, 198020, 198023, 198026, 198030, 198046, 198047, 198052, 198053, 198055, 198056, 198060, 198061, 198062, 198066, 198072, 198073, 198074, 198075, 198076, 198079, ...], (0, 0.00448): [197777, 197785, 197789, 197837, 197842, 197843, 197846, 197847, 197848, 197849, 197854, 197860, 197861, 197865, 197880, 197883, 197889, 197899, 197902, 197904, 197911, 197914, 197917, 197918, 197924, 197925, 197929, 197930, 197932, 197934, 197946, 197948, 197955, 197957, 197959, 197960, 197964, 197969, 197970, 197974, 197976, 197978, 197982, 197983, 197985, 197991, 197998, 198003, 198007, 198009, 198048, 198049, 198050, 198051, 198054, 198057, 198059, 198063, 198064, 198065, 198068, 198070, 198071, 198077, 198078, 198082, 198083, 198084, 198085, 198086, 198090, 198092, 198098, 198102, 198104, 198105, 198140, 198143, 198144, 198145, 198147, 198151, 198152, 198153, 198155, 198156, 198161, 198162, 198167, 198169, 198171, 198172, 198176, 198179, 198181, 198184, 198188, 198189, 198194, 198196, ...], (0, 0.00449): [197840, 197857, 197897, 197926, 197931, 197933, 197935, 197937, 197938, 197940, 197944, 197950, 197952, 197954, 197958, 198058, 198067, 198069, 198091, 198136, 198150, 198187, 198190, 198203, 198205, 198318, 198329, 198334, 198346, 198423, 198532, 198541, 198553, 198623, 198630, 198637, 198740, 198744, 198782, 198824, 198836, 198857, 203072, 203076, 203082, 203086, 203087, 203097, 203099, 203109, 203113, 203127, 203130, 203139, 203227, 203229, 203230, 203235, 203244, 203246, 208155, 208158, 208159, 208160, 208162, 208167, 208168, 208170, 208173, 208174, 208175, 208176, 267189, 267192, 267196, 267206, 267306, 267307, 267308, 267309, 267312, 267314, 267316, 267317, 267331, 267332, 267336, 267337, 267338, 267340, 267343, 267345, 267346, 267347, 267352, 267353, 267355, 267357, 267358, 267361, ...], (0, 0.0045): [197936, 197939, 197949, 197951, 198360, 198544, 203067, 203068, 203069, 203070, 203075, 203078, 203079, 203080, 203081, 203084, 203088, 203095, 203100, 203105, 203110, 203112, 203121, 203129, 203132, 203133, 203135, 203136, 203138, 203140, 203143, 203150, 203151, 203156, 208150, 208153, 222661, 267179, 267181, 267187, 267193, 267197, 267198, 267212, 267277, 267284, 267286, 267289, 267299, 267318, 267322, 267324, 267325, 267329, 267473, 267549, 267559, 267562, 267569, 267571, 267659, 338685, 338695, 338700, 338743, 338744, 338745, 338748, 338752, 338753, 338756, 338757, 338758, 338759, 338760, 338768, 338776, 338777, 338779, 338781, 338782, 338788, 338791, 338793, 338797, 338798, 338802, 338833, 338836, 338837, 338839, 338843, 338845, 338847, 338848, 338850, 338852, 338853, 338855, 338857, ...], (0, 0.00451): [203071, 203094, 203102, 203144, 203147, 203149, 203179, 203240, 222527, 222683, 267157, 267158, 267159, 267161, 267162, 267164, 267167, 267173, 267182, 267209, 267211, 267217, 267219, 267222, 267223, 267226, 267227, 267241, 267282, 267283, 267287, 267288, 267290, 267291, 267301, 338684, 338686, 338691, 338692, 338696, 338698, 338701, 338703, 338716, 338718, 338722, 338726, 338727, 338728, 338738, 338740, 338771, 338785, 338841, 338842, 338844, 338860, 338895, 338898, 338906, 338918, 338925, 338986, 338997, 339002, 339011, 339013, 339040, 339087, 339363, 339368, 339433, 344637, 344641, 344647, 344649, 344650, 344651, 344655, 344665, 344671, 344677, 344678, 344679, 344687, 344693, 344859, 344864, 344865, 345007, 345013, 345019, 345040, 345332, 345541, 345546, 345552, 345556], (0, 0.00452): [197750, 203162, 203165, 203168, 203170, 203180, 203181, 267160, 267163, 267166, 267168, 267183, 267228, 267239, 267251, 267279, 338628, 338636, 338637, 338680, 338683, 338697, 338699, 338714, 338715, 338717, 338721, 338723, 338730, 338731, 338733, 338901, 338902, 338905, 338907, 338913, 338920, 344689, 344694, 344695, 344701, 344709, 344724], (0, 0.00453): [179454, 179455, 179457, 179461, 197690, 338623, 338624, 338639, 338648, 338650, 338655, 338667, 338710, 338725], (0, 0.00454): [179458, 179462, 267127, 267132], (0, 0.00455): [338638], (0, 0.00456): [338601], (0, 0.00457): [202980, 202982, 208031], (0, 0.00461): [217462, 217464, 217466, 217472], (0, 0.00462): [217428, 217431, 217432, 217434, 217435, 217437, 217438, 217439, 217441, 217442, 217443, 217445, 217447, 217448, 217449, 217451, 217453, 217455, 217457, 217458, 217459, 217460, 217461, 217469, 217470, 217473, 217475, 217476, 217530, 217561, 217582], (0, 0.00463): [217427, 217429, 217433, 217440, 217444, 217446, 217450, 217452, 217456, 217463, 217465, 217467, 217468, 217471, 217474, 217491, 217502, 217524, 217527, 217528, 217535, 217536, 217537, 217538, 217540, 217543, 217544, 217550, 217553, 217554, 217555, 217556, 217557, 217558, 217559, 217560, 217566, 217567, 217569, 217571, 217583, 217584, 217591, 217599, 217613, 217614, 217615, 217618, 217625, 222854, 222855, 222895], (0, 0.00464): [179440, 179447, 197693, 217162, 217311, 217314, 217318, 217377, 217380, 217385, 217394, 217396, 217401, 217402, 217404, 217415, 217423, 217430, 217436, 217454, 217477, 217479, 217480, 217481, 217483, 217484, 217488, 217489, 217490, 217492, 217494, 217495, 217496, 217497, 217498, 217499, 217501, 217504, 217506, 217507, 217510, 217511, 217512, 217513, 217514, 217515, 217517, 217518, 217520, 217521, 217525, 217529, 217531, 217532, 217533, 217539, 217542, 217545, 217546, 217547, 217548, 217549, 217551, 217552, 217563, 217564, 217565, 217568, 217570, 217572, 217573, 217574, 217576, 217578, 217581, 217585, 217586, 217589, 217592, 217593, 217594, 217595, 217596, 217597, 217598, 217600, 217601, 217602, 217603, 217604, 217605, 217606, 217609, 217610, 217611, 217612, 217616, 217617, 217619, 217620, ...], (0, 0.00465): [179433, 179450, 197709, 217277, 217280, 217281, 217282, 217287, 217288, 217289, 217291, 217292, 217293, 217294, 217295, 217297, 217298, 217299, 217300, 217303, 217305, 217306, 217308, 217309, 217310, 217313, 217316, 217317, 217319, 217321, 217322, 217323, 217324, 217325, 217326, 217333, 217384, 217387, 217389, 217395, 217397, 217407, 217408, 217411, 217419, 217422, 217426, 217478, 217482, 217485, 217486, 217487, 217500, 217503, 217505, 217508, 217509, 217516, 217519, 217522, 217523, 217526, 217541, 217562, 217575, 217577, 217579, 217580, 217587, 217588, 217590, 217607, 217608, 217623, 222753, 222758, 222759, 222768, 222770, 222771, 222785, 222793, 222795, 222798, 222800, 222801, 222821, 222839, 222851, 222853, 222856, 222858, 222860, 222863, 222865, 222867, 222876, 222877, 222883, 222884, ...], (0, 0.00466): [179435, 179444, 208039, 217279, 217283, 217284, 217290, 217296, 217301, 217304, 217307, 217315, 217334, 217346, 217360, 217371, 217410, 217416, 217493, 217534, 222769, 222777, 222789, 222803, 222811, 222813, 222815, 222817, 222818, 222820, 222828, 222838, 222840, 222842, 222847, 222849, 222864, 222870, 222871, 222872, 222887, 235406, 235439, 235441, 235442, 235443, 235445, 235448, 235451, 235457, 235458, 235461, 235463, 235464, 235466, 235467, 235468, 235469, 235470, 235478, 235479, 235480, 235486, 235499, 235510, 235520, 235522, 235524, 235526, 235529, 235538, 235539, 235542, 235543, 235544, 235552, 235556, 235558, 235562, 235565, 235566, 235576, 235580, 235582, 235585, 235587], (0, 0.00467): [208117, 217286, 217329, 217330, 217331, 217336, 217337, 217338, 217339, 217340, 217341, 217348, 217349, 217350, 217352, 217356, 217357, 217358, 217359, 217363, 217364, 217365, 217369, 217372, 217374, 217375, 217376, 217412, 217414, 222806, 222808, 222830, 222831, 222834, 222835, 222878, 235393, 235398, 235403, 235405, 235412, 235415, 235416, 235419, 235427, 235431, 235433, 235437, 235444, 235446, 235449, 235450, 235453, 235455, 235460, 235462, 235471, 235472, 235474, 235476, 235477, 235484, 235487, 235492, 235493, 235494, 235496, 235498, 235500, 235506, 235507, 235508, 235509, 235512, 235516, 235521, 235527, 235530, 235531, 235533, 235534, 235535, 235540, 235568, 235570, 235572, 235578, 235579], (0, 0.00468): [19105, 217328, 217332, 217343, 217345, 217353, 217355, 217361, 217367, 217368, 222804, 222805, 222812, 222846, 235389, 235390, 235394, 235395, 235399, 235400, 235401, 235407, 235409, 235413, 235414, 235417, 235421, 235422, 235423, 235425, 235426, 235428, 235429, 235430, 235456, 235483, 235502, 235503, 235505, 235519, 235528, 235532, 235537, 235557, 235588], (0, 0.00469): [179369, 179373, 179385, 179398, 188962, 197479, 217240, 217253, 222845, 235392, 235396, 235408, 235418, 235424, 235514, 235549, 235592, 235600, 235606, 235626, 235628], (0, 0.0047): [179405, 217231, 217238, 217242, 217243, 217274, 235370, 235420, 235589, 235591, 235593, 235594, 235599, 235603, 235614, 235618, 235621, 235630], (0, 0.00471): [179416, 217229, 217233, 217236, 217237, 217241, 217246, 217256, 217271, 217272, 222731, 235353, 235360, 235373, 235375, 235379, 235383, 235595, 235616, 235627, 235629, 235633, 235637], (0, 0.00472): [195652, 216983, 217263, 217265, 222704, 222706, 222710, 222713, 222718, 222728, 222734, 222737, 222745, 222746, 235352, 235358, 235359, 235362, 235374, 235382, 235385, 339191], (0, 0.00473): [208050, 208188, 222711, 222729, 222738, 222749, 339470], (0, 0.00474): [197915, 203208, 208186, 222657, 222668, 222672, 222677, 222686, 222692, 222699, 222733, 222740, 267423, 338960, 339050, 339334, 339429, 339574, 344991], (0, 0.00475): [203056, 203060, 203061, 203225, 222505, 222509, 222510, 222513, 222514, 222526, 222547, 222663, 222673, 222679, 222684, 222696, 222700, 267250, 267272, 267420, 267537, 338810, 339530, 344838, 345318, 345528], (0, 0.00476): [203090, 222533, 222535, 222660, 222698, 267191, 338882], (0, 0.00477): [222520, 222602, 222646, 267274, 338870, 338874, 338878, 338886, 339009, 345018], (0, 0.00478): [203074, 208033, 222576, 235333, 267156, 267300], (0, 0.00479): [197488, 203137, 222577, 222578, 222591, 235303, 344645], (0, 0.0048): [235243, 235253, 235264, 338709, 344644, 344661, 344685], (0, 0.00481): [235283], (0, 0.00482): [235203, 338678], (0, 0.00483): [235369, 338626, 338632], (0, 0.00484): [217135, 222674], (0, 0.00488): [203007], (0, 0.00489): [235346], (0, 0.00491): [197700, 197701, 197706, 208047, 235372], (0, 0.00492): [202986, 202988, 202990], (0, 0.00493): [222666], (0, 0.00495): [197495], (0, 0.00499): [191651], (0, 0.00501): [197481], (0, 0.00502): [197500], (0, 0.00506): [195682, 222515], (0, 0.00508): [222760], (0, 0.00509): [222786, 222875], (0, 0.0051): [217285, 217342], (0, 0.00511): [235495], (0, 0.00512): [235435, 235465], (0, 0.00514): [235581], (0, 0.00515): [235563], (0, 0.00516): [235559, 235574], (0, 0.00518): [179393, 179396, 179397, 179402], (0, 0.00524): [222664], (0, 0.00525): [216990], (0, 0.00528): [235344, 235361], (0, 0.00529): [235339, 235347, 235350, 235351], (0, 0.0053): [222626], (0, 0.00532): [222531], (0, 0.00533): [222534, 222559, 222563], (0, 0.00537): [235242], ...}

In [17]:
df["Attack_type"].value_counts()

Attack_type
3    340066
2     14596
0     10049
4      6638
1      3312
Name: count, dtype: int64

In [18]:
pd.Categorical(df[" who_CH"]).describe()

            counts     freqs
categories
101000         225  0.000601
101001         394  0.001052
101002         112  0.000299
101003         288  0.000769
101005         293  0.000782
...            ...       ...
3301096          1  0.000003
3301100        116  0.000310
3302100         90  0.000240
3401100         50  0.000133
3402100         10  0.000027

[7088 rows x 2 columns]

In [19]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
374656    False
374657    False
374658    False
374659    False
374660    False
Length: 374661, dtype: bool

In [20]:
df = df.drop_duplicates()

In [21]:
sum(df.duplicated())

0

In [22]:
df.head(10)

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
0,101000,50,1,101000,0.00000,1,0,0,25,1,0,0,0,1200,48,130.08535,0,2.46940,3
1,101001,50,0,101044,75.32345,0,4,1,0,0,1,2,38,0,0,0.00000,4,0.06957,3
2,101002,50,0,101010,46.95453,0,4,1,0,0,1,19,41,0,0,0.00000,3,0.06898,3
3,101003,50,0,101044,64.85231,0,4,1,0,0,1,16,38,0,0,0.00000,4,0.06673,3
4,101004,50,0,101010,4.83341,0,4,1,0,0,1,25,41,0,0,0.00000,3,0.06534,3
5,101005,50,0,101010,31.91198,0,4,1,0,0,1,18,41,0,0,0.00000,3,0.06717,3
6,101006,50,0,101044,24.34167,0,4,1,0,0,1,5,38,0,0,0.00000,4,0.06214,3
7,101007,50,0,101010,26.75033,0,4,1,0,0,1,21,41,0,0,0.00000,3,0.06662,3
8,101008,50,0,101044,63.66485,0,4,1,0,0,1,17,38,0,0,0.00000,4,0.06649,3
9,101009,50,0,101000,32.90217,0,4,1,0,0,1,12,48,0,0,0.00000,1,0.07903,3